<%= form_with(model: post, url: admin_posts_path, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control my-2' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control my-2' %>
  </div>
  
  <div class="field">
    <%= form.label :cover %>
    <%= form.file_field :image, class: 'form-control-file  my-2' %>
  </div>

  <div class="actions">
    <%= form.submit "Save post", class: 'btn btn-success my-2' %>
  </div>
<% end %>
