<h1>Posts</h1>
<div class="row">
  <table class="table table-striped">
  <% @posts.each do |post| %>  
    <tr>
      <td><%= link_to post.title, post %></td>
      <td></td>
      
      <td><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-sm btn-warning' %></td>
      <% if admin? %>
      <td><%= link_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure?' }, 
      class: 'btn btn-sm btn-danger' %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
  <%= paginate @posts %> 
  <div>
    <%= link_to 'New post', new_post_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
